$color1: #2f83ff;
$color2: #151515;
$color3: #101212;
$color4: #1c1c1c;
$color5: #252525;
$color6: #297df9;
$color7: #0053cd;
$color8: #18202d;
$color9: #0a0a0a;
$color10: #24302c;
$color11: #15e405;
