@import "./mixins";
@import "./colors";
@import "./utitlities-2";

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
  color: #fff;
}

body {
  background-color: $color2;
  font-size: 18px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

.page-section {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  padding-top: 70px;
  padding-bottom: 70px;

  @media screen and (max-width: 1023px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media screen and (max-width: 767px) {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  @media screen and (max-width: 575px) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .page-container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
}

.text-primary {
  color: $color2;
}

.text-green {
  color: $color11;
}

.section-container {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.small {
  font-size: 14px;
}

h2 {
  font-size: 60px;
  line-height: 1.1;

  @media screen and (max-width: 1366px) {
    font-size: 54px;
  }

  @media screen and (max-width: 1200px) {
    font-size: 50px;
  }

  @media screen and (max-width: 1110px) {
    font-size: 46px;
  }

  @media screen and (max-width: 991px) {
    font-size: 42px;
  }

  @media screen and (max-width: 991px) {
    font-size: 42px;
  }

  @media screen and (max-width: 767px) {
    font-size: 38px;
  }

  @media screen and (max-width: 575px) {
    font-size: 34px;
  }
}

h3 {
  font-size: 36px;

  @media screen and (max-width: 1366px) {
    font-size: 32px;
  }

  @media screen and (max-width: 991px) {
    font-size: 28px;
  }

  @media screen and (max-width: 767px) {
    font-size: 24px;
  }

  @media screen and (max-width: 575px) {
    font-size: 22px;
  }
}

h4 {
  font-size: 26px;

  @media screen and (max-width: 1366px) {
    font-size: 22px;
  }

  @media screen and (max-width: 991px) {
    font-size: 20px;
  }

  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
}

h5 {
  font-size: 22px;

  @media screen and (max-width: 1250px) {
    font-size: 20px;
  }

  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
}

h6 {
  font-size: 20px;

  @media screen and (max-width: 1250px) {
    font-size: 18px;
  }

  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}

.btn {
  color: #fff;
  height: 52px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px 0px 10px 0;
  background: transparent;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;

  @include transitioned;

  &:hover {
    border-radius: 10px;
  }

  &.primary {
    background-color: $color1;
  }
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  overflow-x: auto;
  flex-wrap: wrap;

  .tab {
    border-radius: 50px;
    height: 50px;
    color: $color1;
    font-weight: bold;
    background-color: $color5;
    padding-left: 26px;
    padding-right: 26px;
    border: none;
    font-size: 18px;
    cursor: pointer;

    &.active,
    &:hover {
      background: linear-gradient(to left, $color6, $color7);
      color: #fff;
    }
  }
}

.btn-tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;

  .tab {
    border-radius: 10px 0 10px 0;
    height: 50px;
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid $color1;
    padding-left: 26px;
    padding-right: 26px;
    font-size: 18px;
    cursor: pointer;

    @media screen and (max-width: 575px) {
      font-size: 14px;
    }

    &.active {
      background-color: $color1;
    }
  }
}

.faq-item {
  .question {
    position: relative;
    padding: 16px 0;
    border-bottom: 1px solid $color8;
    cursor: pointer;
    padding-right: 26px;

    &:nth-child(1) {
      border-top: 1px solid $color8;
    }

    &::after {
      content: url("../assets/arrow.png");
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      @include transitioned;
    }
  }

  .answer {
    padding: 30px 0;
    display: none;
    padding: 10px 0;
    border-top: 1px solid $color9;
    border-bottom: 1px solid $color9;
    font-size: 16px;
  }

  &.active {
    .question {
      border-bottom-color: $color9;

      &::after {
        transform: rotate(180deg);
      }
    }
  }
}

.arrow {
  cursor: pointer;

  &.prev {
    left: 0;
  }

  &.next {
    right: 0;
    transform: rotate(180deg);
  }
}

#main-layout {
  background-color: $color3;

  #navbar {
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;

    .logo {
      width: 200px;

      @media screen and (max-width: 991px) {
        width: 170px;
      }

      @media screen and (max-width: 767px) {
        width: 130px;
      }
    }

    .navbmar-main {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .hamburger {
        display: flex;
        flex-direction: column;
        gap: 9px;
        cursor: pointer;

        @media screen and (min-width: 1201px) {
          display: none;
        }

        span {
          display: block;
          width: 40px;
          height: 3px;
          background-color: #fff;
        }
      }

      .links {
        display: flex;
        align-items: center;
        gap: 16px;

        @include transitioned;

        @media screen and (max-width: 1200px) {
          position: fixed;
          width: 100%;
          top: 0;
          bottom: 0;
          flex-direction: column;
          justify-content: center;
          background-color: $color3;
          padding: 1rem 2rem;
          gap: 20px;
          left: 100%;

          &.active {
            left: 0;
          }
        }

        .close {
          position: absolute;
          right: 30px;
          top: 30px;
          width: 24px;
          filter: invert(100%);
          cursor: pointer;

          @media screen and (min-width: 1201px) {
            display: none;
          }
        }

        a {
          &.active {
            position: relative;
            color: $color1;

            &::after {
              content: "";
              position: absolute;
              bottom: -54px;
              width: 100%;
              height: 1px;
              border-bottom: 1px solid $color1;
              left: 0;

              @media screen and (max-width: 1200px) {
                display: none;
              }
            }
          }

          @media screen and (max-width: 1300px) {
            font-size: 16px;
          }
        }
      }
    }

    &.scrolled {
      background-color: $color3;

      a.active {
        &::after {
          display: none;
        }
      }
    }
  }

  .bg-top {
    position: absolute;
    right: 0;
    top: 0;
    width: 600px;
  }

  .layout-main-content {
    padding-top: 109px;
    background-color: $color3;

    .navbar-left {
      position: absolute;
      top: 120px;
      left: calc(50% - 620px);
      width: 26vw;
      max-width: 300px;

      @media screen and (min-width: 1441px) {
        left: calc(50% - 730px);
        width: 32vw;
        max-width: 400px;
      }

      @media screen and (max-width: 1250px) {
        width: 300px;
        left: 0;
      }
    }

    .navbar-right {
      position: absolute;
      top: 120px;
      right: 90px;
      width: 62vw;
      max-width: 1190px;

      @media screen and (max-width: 1760px) {
        right: calc(50% - 44vw);
      }

      @media screen and (max-width: 1650px) {
        right: calc(50% - 42vw);
      }

      @media screen and (max-width: 1500px) {
        right: calc(50% - 41vw);
      }

      @media screen and (max-width: 1200px) {
        display: none;
      }
    }
  }

  #footer {
    background-color: #0b0b0b;
    padding-bottom: 40px;

    .logo {
      @media screen and (max-width: 1250px) {
        width: 170px;
      }
    }

    .links {
      .link {
        font-size: 16px;

        @media screen and (max-width: 1500px) {
          font-size: 14px;
        }
      }
    }

    .newsletter-wrap {
      max-width: 400px;

      @media screen and (min-width: 992px) {
        margin-left: auto;
        margin-right: auto;
      }

      h5 {
        @media screen and (max-width: 1399px) and (min-width: 992px) {
          text-align: center;
        }
      }
    }

    .main-row {
      --bs-gutter-x: 50px;

      a {
        display: block;
        padding: 0.5rem 0;
        padding-left: 28px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          height: 2px;
          width: 16px;
          background-color: $color1;
        }
      }
    }

    .newsletter-input {
      border: 1px solid $color1;
      border-radius: 10px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      input {
        height: 100%;
        flex-grow: 1;
        background-color: transparent;
        border: none;
        color: #fff;
        outline: none;
        font-size: 18px;
        padding-left: 10px;
        padding-right: 64px;
        width: 100%;

        &::placeholder {
          color: #fff;
        }
      }

      img {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
      }
    }

    .copyright {
      border-top: 1px solid #fff;
      margin-top: 40px;
      padding-top: 40px;

      .copyright-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: 767px) {
          flex-direction: column;
          gap: 16px;
        }

        * {
          font-size: 14px;
        }

        .right {
          display: flex;
          gap: 20px;
        }
      }
    }
  }
}

.row {
  --bs-gutter-y: 1.5rem;
}
